body {
    font-family: 'Catamaran', 'Verdana', sans-serif;
    position: top;
    max-height: vh;
    max-width: vw;

}

.links {
    font-family: 'Catamaran', 'Verdana', sans-serif;
    display: flex;
    flex-direction: row;
}

.links h2 {
    display: inline-block;
    margin-right: 1vw;
    margin-left: 1vw;
}
a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

.realstuff {
    display: flex;
    margin-left: 10vw;
    width: 40vw;
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
}

.text {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#name {
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 3em;
    width: vw;
}