body {
    font-family: 'Lora', 'Verdana', serif;
    max-height: 100%;
    max-width: 100%;
}

.links {
    font-family: 'Lora', 'Verdana', serif;
    display: flex;
    flex-direction: row;
}

.links h2 {
    display: inline-block;
    margin-right: 1vw;
    margin-left: 1vw;
}

a:link {
    color: #3B4244;
    text-decoration: none;
}

a:visited {
    color: #3B4244;
    text-decoration: none;
}

.main {
    display: flex;
}

.about {
    display: flex;
    flex-direction: column;
}

.text {
    padding: 10px 20px 0px 20px;
}

#name {
    padding: 0 20px 0 20px;
    margin: 0 10px 0 10px;
    font-size: 3em;
}
