.links {
    font-family: 'Catamaran', 'Verdana', sans-serif;
    display: flex;
    flex-direction: row;
}

.links h2 {
    display: inline-block;
    margin-right: 1vw;
    margin-left: 1vw;
}
a:link {
    color: #3B4244;
    text-decoration: none;
}

a:visited {
    color: #3B4244;
    text-decoration: none;
}

body {
    font-family: 'Catamaran', 'Verdana', sans-serif;
}

.elements {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    text-align: center;
    margin-top: 17vh;
}

.elements h1 {
    font-size: 2.7em;
}

.elements h2 {
    font-size: 1.7em;
    color: #3B4244;
}