body {
    font-family: "Lora";
    max-height: 100%;
    max-width: 100%;
    color: black;
}

h1 {
    font-size: 5em;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: top;
    text-align: center;
    font-family: 'Lora' , 'Verdana', sans-serif;
    color: #07520D;
    opacity: 1;
}

.buttons {
    vertical-align: top;
    font-family: 'Lora', 'Verdana', sans-serif;
    font-size: 1em;
    display: inline-block;
    padding-top: 0px;
    margin-top: 0;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

#about {
    display: inline-block;
    margin-right: 1vw;
    color: white;
    text-align: center;
    outline: none;
    text-decoration: none;
    padding: 0.75vw;
    margin-top: 0;
}

#resume {
    display: inline-block;
    margin-right: 1vw;
    text-align: center;
    outline: none;
    text-decoration: none;
    padding: 0.75vw;
    margin-top: 0;
}

#connect {
    display: inline-block;
    margin-right: 0.5vw;
    text-align: center;
    outline: none;
    text-decoration: none;
    padding: 0.75vw;
    margin-top: 0;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

