body {
    max-height: vh;
    max-width: vw;
    background-color: #696A76;

}

#portrait img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.25;


}

h1 {

    font-size: 5em;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: top;
    text-align: center;
    font-family: 'Catamaran';
    color: white;
    opacity: 1;
}

.buttons {
    vertical-align: top;
    font-family: "Catamaran";
    font-size: 1em;
    display: inline-block;
    padding-top: none;
    margin-top: 0;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}

#about {
    display: inline-block;
    margin-right: 1vw;
    color: white;
    border: 1px solid white;
    text-align: center;
    outline: none;
    text-decoration: none;
    padding: 1vw;
    margin-top: 0;

}

#resume {
    display: inline-block;
    margin-right: 1vw;
    color: white;
    border: 1px solid white;
    text-align: center;
    outline: none;
    text-decoration: none;
    padding: 0.75vw;
    margin-top: 0;
}

#connect {
    display: inline-block;
    margin-right: 0.5vw;
    color: white;
    border: 1px solid white;
    text-align: center;
    outline: none;
    text-decoration: none;
    padding: 0.75vw;
    margin-top: 0;
}

/*a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}*/