body {
    max-height: 100%;
    max-width: 100%;
    font-family: 'Catamaran', 'Verdana', sans-serif;
}

h1 {
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.blobs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.titleLine {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.long {
    display: flex;
    flex-direction:column;
    justify-content: center; 
    margin-right: 5vw;
    margin-left: 5vw;  
}

.job {
    justify-content: center;
}

#education {
    margin-right: 30px;
}

#education h3 {
    font-size: 15px;
}

#skills {
    margin-right: 30px;
    margin-left: 30px;
}

#coursework {
    margin-left: 30px;
}

#Work h2 {
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.job h3 {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.job h4 {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.job p {
    margin-top: 0px;
}

.links {
    font-family: 'Catamaran', 'Verdana', sans-serif;
    display: flex;
    flex-direction: row;
}

.links h2 {
    display: inline-block;
    margin-right: 1vw;
    margin-left: 1vw;
}
a:link {
    color: #3B4244;
    text-decoration: none;
}

a:visited {
    color: #3B4244;
    text-decoration: none;
}